<div class="cards-number cards-number--one">
  <form action="#" class="cards-form">
    <h2 class="title title--h2 cards-form__title">
      Найдём номера под ваши пожелания
    </h2>
    <div class="cards-form__group">
      <label class="form-field cards-form__field">
        <span class="form-field__caption">Прибытие</span>
        <input type="text" name="date" class="form-field__input cards-form__date calendar-input"
          placeholder="ДД.ММ.ГГГГ" />
        <span class="cards-form__date--span"></span>
      </label>
      <label class="form-field cards-form__field">
        <span class="form-field__caption">Выезд</span>
        <input type="text" name="date" class="form-field__input cards-form__date calendar-input"
          placeholder="ДД.ММ.ГГГГ" />
        <span class="cards-form__date--span"></span>
      </label>
    </div>
    <label class="form-field cards-form__select">
      <span class="form-field__caption">Гости</span>
      <select name="Number_of_guests" class="form-field__select" required>
        <option value="">Сколько гостей</option>
        <option value="One">1</option>
        <option value="Two">2</option>
        <option value="Tree">3</option>
        <option value="Four">4</option>
      </select>
    </label>
    <button class="btn-reset btn btn--fill cards-form__btn" type="submit">
      Подобрать номер
      <img src="../../img/btn-arrow.svg" alt="Подобрать номер" />
    </button>
  </form>
</div>
