.cards {
  padding-top: 67px;
  padding-bottom: 100px;

  &__container {
    padding: 0 20px;
  }

  &__number {
    width: 380px;
    max-width: 100%;
    padding: 40px 30px;
    border-radius: 4px;
    background-color: var(--color-light);
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: var(--shadow-primary);
  }
}

.cards-form {

  &__title {
    margin-bottom: 21px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__select {
    position: relative;
    margin-top: 20px;
    margin-bottom: 32px;
  }

  &__input {
    position: relative;

    &::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 60%;
      right: 8px;
      transform: translateY(-50%);
      background-image: url("../../img/drop-arrow.svg");
      background-repeat: no-repeat;
      background-size: 13px;
    }
  }
}
