.cards-form {
  &__title {
    margin-bottom: 21px;
  }

  &__group {
    display: flex;
    justify-content: space-between;

    &--header {
      margin-top: 20px;
    }

    &--column {
      flex-direction: column;
      margin-bottom: 20px;
    }

    &--register {
      flex-direction: column;
      margin-bottom: 7px;
    }

    &--radio {
      justify-content: flex-start;
      margin-bottom: 24px;
    }

    &--details {
      flex-direction: column;

      .form-field__caption {
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  &__select {
    position: relative;
    margin-top: 12px;
  }

  &__input {
    width: 320px;
    color: var(--color-dark-shade75);
    padding-left: 13px;

    &::placeholder {
      color: var(--color-dark-shade25);
    }
  }


  &__field {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__date {
    display: block;
    width: 150px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-dark-shade75);

    &--span {
      position: absolute;
      top: 21px;
      right: 16px;
      width: 44px;
      height: 44px;
      cursor: pointer;
      background-image: url("../../img/drop-arrow.svg");
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: center right;
    }

    &--big {
      width: 320px;

      &::placeholder {
        color: var(--color-dark-shade25);
      }
    }
  }

  &__radio {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    position: relative;
    margin-top: 30px;
    width: 100%;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &--top {
      margin-top: 21px;
    }

    img {
      position: absolute;
      right: 11px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__switch {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  &__text {
    display: block;
    margin-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-dark-shade75);
  }

  &__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__account {
    display: block;
    max-width: 190px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
}
