@include("header.html")
<section class="section cards">
  <h1 class="visually-hidden">Карточки форм</h1>
  <div class="container cards__container">
    <div class="cards__flex cards-left">
      @include("./cards/cards-number-one.html")
      @include("./cards/cards-number-two.html")
    </div>
    <div class="cards__flex cards-centered">
      @include("./cards/cards-number-tree.html")
      <!-- @include("./cards/cards-number-four.html") -->
      <div class="cards-number cards-number--two">
        <form action="#" class="cards-form">
          <h2 class="title title--h2 cards-form__title">Войти</h2>
          <div class="cards-form__group cards-form__group--details">
            <label class="form-field cards-form__field">
              <input
                type="email"
                name="email"
                class="form-field__input form-field__input--fill cards-form__input"
                placeholder="Email"
              />
            </label>
            <label class="form-field cards-form__field">
              <input
                type="password"
                name="password"
                class="form-field__input form-field__input--fill cards-form__input"
                placeholder="Пароль"
              />
            </label>
          </div>
          <button
            class="btn-reset btn btn--fill cards-form__btn cards-form__btn--top"
            type="submit"
          >
            Войти
            <img src="../img/btn-arrow.svg" alt="войти" />
          </button>
          <div class="cards-form__login">
            <a href="" class="cards-form__account">Нет аккаунта на Toxin?</a>
            <button class="btn-reset btn btn--stroke btn--stroke-wide">
              Создать
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
