<section class="colors-types">
  <div class="container colors-types__container">
    <div class="colors-types__content">
      <ul class="list-reset colors-types__list">
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--100"></div>
          <div class="colors-types__сolor-names">
            <span
              >Dark Shade 100%
              <span>#1F2041</span>
            </span>
          </div>
        </li>
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--75"></div>
          <div class="colors-types__сolor-names">
            <span
              >Dark Shade 75%
              <span>#1F2041</span>
            </span>
          </div>
        </li>
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--50"></div>
          <div class="colors-types__сolor-names">
            <span
              >Dark Shade 50%
              <span>#1F2041</span>
            </span>
          </div>
        </li>
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--25"></div>
          <div class="colors-types__сolor-names">
            <span
              >Dark Shade 25%
              <span>#1F2041</span>
            </span>
          </div>
        </li>
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--05"></div>
          <div class="colors-types__сolor-names">
            <span
              >Dark Shade 5%
              <span>#1F2041</span>
            </span>
          </div>
        </li>
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--primary"></div>
          <div class="colors-types__сolor-names">
            <span
              >Purple
              <span>#BC9CFF</span>
            </span>
          </div>
        </li>
        <li class="colors-types__item">
          <div class="colors-types__colors colors-types__colors--green"></div>
          <div class="colors-types__сolor-names">
            <span
              >Green
              <span>#6FCF97</span>
            </span>
          </div>
        </li>
      </ul>
      <ul class="list-reset colors-types__right__list">
        <li class="colors-types__right__item">
          <span class="colors-types__right__span colors-types__right__span--h1"
            >H1</span
          >
          <h1
            class="title colors-types__right__title colors-types__right__title--h1"
          >
            This one is the sub-section or widget title
          </h1>
        </li>
        <li class="colors-types__right__item">
          <span class="colors-types__right__span colors-types__right__span--h2"
            >H2</span
          >
          <h2
            class="title colors-types__right__title colors-types__right__title--h2"
          >
            Next one is the item title inside widgets
          </h2>
        </li>
        <li class="colors-types__right__item">
          <span class="colors-types__right__span colors-types__right__span--h3"
            >H3</span
          >
          <h3
            class="title colors-types__right__title colors-types__right__title--h3"
          >
            This is a label or CTA text
          </h3>
        </li>
        <li class="colors-types__right__item">
          <span
            class="colors-types__right__span colors-types__right__span--body"
            >Body</span
          >
          <p
            class="descr colors-types__right__title colors-types__right__title--body"
          >
            This is the body text which is used for most of the design, like
            paragraphs, lists, etc.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
