html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.title {
  margin: 0;
  font-weight: 700;
  color: var(--color-dark-shade);

  &--h2 {
    font-size: 24px;
    line-height: 29px;
  }

  &--h3 {
    font-size: 14px;
    line-height: 17px;
  }
}

.descr {
  margin: 0;
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 22px;
  padding: 14px 87px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-light);
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &--fill {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    // &:focus {
    //   outline: 2px solid var(--color-primary);
    //   outline-offset: 2px;
    // }

    // &:hover {
    //   background-color: var(--color-active);
    // }

    // &:active {
    //   background-color: var(--color-active);
    // }
  }

  &--stroke {
    padding: 14px 22px;
    border-width: 2px;

    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }


    // &-light {
    //   border-color: var(--color-light);
    //   color: var(--color-light);
    // }


    // &:focus {
    //   outline: 2px solid var(--color-primary);
    //   outline-offset: 2px;
    // }

    // &:hover {
    //   border-color: var(--color-primary);
    //   background-color: var(--color-primary);
    // }

    // &:active {
    //   border-color: var(--color-primary);
    //   background-color: var(--color-active);
    // }
  }
}


.choices {
  width: 100%;
}

.is-focused {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.choices__inner {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  height: 44px;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark-shade25);
}

.choices__list--single .choices__placeholder {
  font-size: 14px;
  line-height: 18px;
  color: var(--color-dark-shade75);
  opacity: 1;
}

.choices[data-type*='select-one'] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 100%;
}

.choices[data-type*='select-one']::after {
  right: 15px;
  margin-top: 0;
  border: none;
  width: 12px;
  height: 7px;
  background-image: url("../img/drop-arrow.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.choices[data-type*='select-one'].is-open::after {
  margin-top: -7px;
  transform: rotate(180deg) translateY(-50%);
}

.choices__list--dropdown .choices__item--selectable::after {
  display: none;
}

.choices__list--dropdown {
  background-color: var(--color-light);
}

.custom-radio {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-dark-shade75);
  }

  &__text::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 3px;
    display: inline-block;
    border: 1px solid var(--color-dark-shade25);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transition: border-color 0.3s ease-in-out;
  }

  &__text::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 7px;
    width: 12px;
    height: 12px;
    background-image: url('../img/check-circle.svg');
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked+&__text::before {
    border-color: var(--color-primary);
  }

  &__input:checked+&__text::after {
    opacity: 1;
  }

  &__input:focus+&__text {
    outline: 3px solid var(--color-primary);
  }
}
