// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-dark-shade: #1f2041;
  --color-dark-shade75: rgba(31, 32, 65, 0.75);
  --color-dark-shade50: rgba(31, 32, 65, 0.5);
  --color-dark-shade25: rgba(31, 32, 65, 0.25);
  --color-dark-shade05: rgba(31, 32, 65, 0.05);
  --color-primary: #bc9cff;
  --color-green: #6fcf97;
  --shadow-primary: 0px 0px 25px rgba(0, 0, 0, 0.2);

  // gradient
  --gradient-primary: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  --gradient-second: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  --gradient-primary-transparent: linear-gradient(180deg,
      rgba(188, 156, 255, 0.5) 0%,
      rgba(139, 164, 249, 0.5) 100%);
  --gradient-primary-transparent25: linear-gradient(180deg,
      rgba(188, 156, 255, 0.25) 0%,
      rgba(139, 164, 249, 0.25) 100%);
}
